#box {
    /* background-color: rgba(255, 0, 0, 0.3); */
    height: 500px;
}

body {
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1559443922-3f698a0ff27a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=669&q=80");
    background-size: cover;
}